.header
{
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: var(--second);
    height: 10vh;
}

.header a 
{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo 
{
    height: 7vh;
    width: 7vh;
    background-color: var(--second);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
}

.header .title-group
{
    cursor: default;
}

.header .title-group i 
{
    margin-left: 20px;
    margin-right: 25px;
}

.menu-item
{
    display: flex;
    align-items: center;
    min-height: 50px;
    max-height: 50px;
    width: 200px;
    margin-left: 20px;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 10px;
    color: var(--second);
}

.menu-item:hover
{
    color: #000;
}