/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root
{
  --primary: #43aef5;
  --second: #eee;
  --warn: #ff7056;
  --neutro: rgb(200, 255, 178);
}

.container
{
  width: 100vw;
  height: 90vh;
}

.center
{
  display: grid;
  align-items: center;
  justify-content: center;
}